/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
.navigation{
  
  position: fixed;
  right: 0;
  height: 100%;
}
.navigation #menuToggle{
   display: block;
   position: relative;
   top: calc(150px / 2.5); 
   z-index: 1;  
   user-select: none;
   float: right;
   height: 100%;
}
.navigation #menuToggle a{
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  font-weight: bold;
}
.navigation #menuToggle a:hover{
  color: #c32125;
  background-color: #f6ebeb;
}
.navigation #menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px; 
  cursor: pointer;  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
} 
 /*
  * Just a quick hamburger
  */
.navigation #menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: #c32125;
  border-radius: 3px;
  z-index: 1; 
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
} 
.navigation #menuToggle span:first-child{
  transform-origin: 0% 0%;
}
.navigation #menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
.navigation #menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #c32125; 
}
 /*
  * But let's hide the middle one.
  */
.navigation #menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
 
 /*
  * Ohyeah and the last one should go the other direction
  */
.navigation #menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
.navigation #menu{
  /*! position: absolute; */
  width: 200px;
  margin: -110px 0 0 -217px;
  padding: 50px;
  padding-top: 125px;  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);  
  transition: transform 1.5s cubic-bezier(0.77,0.2,0.05,1.0);
  height: 100%;
}
.navigation #menu li{
  padding: 10px 0;
  font-size: 40px;
}
 /*
  * And let's slide it in from the left
  */ 
.navigation #menuToggle input:checked ~ ul{
  transform: none;
}