html{
  height: 100%;
}
body{
  height: 100%;
}
  /* 공통클래스 스타일 */
.wrap{
  /*! width: 1440px; */
  /*! margin: 0 auto; */
}

/* 상단영역 */
header{
  position: absolute;
  width: 100%;
  z-index: 1;
  position: fixed;
  /*! background-color: rgba(153,69,32,0.2); */
}
header .wrap{
  display: flex;
  justify-content: space-between;
  height: 150px;
}
header h1{
  height: 150px;
  align-items: center;
  display: flex;
}
header h1 a{
  padding-left: 40px;
  display: flex;
  background-repeat: no-repeat;
  font-size: 20px;
  color: #c32125;
  /*! font-weight: bold; */
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}
header h1 a::before{
  content: "";
  width: 100px;
  height: 100px;
  display: inline-flex;
  background-image: url(../img/2s00_2_-removebg2.png);
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: -39px;
  margin-left: 20px;
}
header ul{
  font-size: 35px;
  gap: 60px;
}
header a{
}

header ul li{
}
header ul li a{
  display: block;
  line-height: 3;
  padding: 0 15px;
  transition: all 1s;
}
header ul li a:hover{
  background-color: #f2f0f3;
  color: #666;
}

/* 타이틀영역 */
div#title{
  height: 100%;
  background-color: #ccc;
  background-image: url(../img/kristin1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
div#title .wrap{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}
div#title .wrap h2{
  font-size: 100px;
  text-align: center;
  color: #fff;
}
div#title .wrap a{
  width: 100px;
  height: 100px;
  background-color: #f6ebeb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 50px);
  flex-direction: column;
}
div#title .wrap a:hover{
  background-color: #c32125;
  color: white;
}
div#title .wrap a::after{
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  /*! position: absolute; */
  bottom: 14px;
}

/* about */
#about{
}
#about .wrap{
  padding: 100px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*! height: 1000px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6ebeb;
}

#about .wrap h2{
  font-size: 26px;
  padding-left: 100px;
  text-align: center;
  font-size: 45px;
  border: 3px solid #f3d4d4;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 1);
  border-collapse: collapse;
  border-spacing: 0;
  padding: 20px;
  width: 1600px;
  height: 100px;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 0 !important;
}

#about .wrap figure{
  
  border: 3px solid #f3d4d4;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 0 !important;
  border-right: 0 !important;
  width: 500px;
  height: 630px;
  box-sizing: border-box;
  background-color: #fff;
}
#about .wrap figure img{
  
  width: 500px;
  padding: 30px;
}
#about .wrap figure figurecaption{
  
  font-size: 0;
}
#about .wrap div{  
  font-size: 26px;
  border: 3px solid #f3d4d4;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 0 !important;
  width: 1100px;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #fff;
  height: 630px;
}
#about .wrap div h3{
  
}
#about .wrap div p{
  
  color: black;
}
#about .wrap div ul{
  
  color: black;
}
#about .wrap div ul li{
  
}
/* 스킬 */
#skill .wrap{
  /*! background-image: url(../img/cpfl.jpg); */
  /*! padding: 100px 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*! height: 1000px; */
  background-repeat: no-repeat;
  background-size: cover;
  /*! color: #fff; */
  background-color: #f6ebeb;
}
#skill .wrap h2{
  font-size: 26px;
  padding-left: 100px;
  text-align: center;
  font-size: 45px;
  border: 3px solid #f3d4d4;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 20px;
  width: 1600px;
  height: 100px;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 0 !important;
}

/*  */
aside{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

aside a.top {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 100px;
  position: relative;
}

aside a.top::before {
  content: "";
  border : 3px solid;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 24px;
  display: block;
  left: calc(50% - 15px);
  box-sizing: border-box;
}
aside a.plus {
  width: 100px;
  height: 100px;
  background-color: #c32125;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 100px;
  background-image: url(../img/plus.png);
  background-size: cover;
  color: transparent;
  margin-bottom: 20px;
}

aside a.plus::before {
  content:"";
  
}
/* footer 하단영역 */

footer {
  background-color: #f6ebeb;
}
footer div{
  line-height: 1.5;
}
footer div p {
  display: flex;
  justify-content: center;
}
footer div span {
  display: flex;
  justify-content: center;
}




